<html>
	<head>
		<title>Ninja Finder</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="no-ninja">No Ninjas Here</div>

			<a href='/ninja'><div id="find-ninjas">Find Ninjas Here!</div></a>
		</div>
	</body>
</html>
