<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="container">
			<header>
				<div class="header-row">
					<h1 id="friends-head">Currently Editing:</h1>
					<h3 id="current-edit" class="red-text">{{friend['email']}}</h3>
				</div>
				<a class="home" href="/">Edit another friend</a>
			</header>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="red flash">{{messages[0]}}</div>
			{% endif %}
			{% endwith %}
			<form id="update-data" action="/friends/{{friend['id']}}" method="post">
				<table>
					<thead>
						<tr>
							<th>Commit State</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr class="current-state-row">
							<td>
								<h3 class="state-head">Current State</h3>
							</td>
							<td>
								<label for="first-name"><span>{{friend['first_name']}}</span></label>
							</td>
							<td>
								<label for="first-name"><span>{{friend['last_name']}}</span></label>
							</td>
							<td>
								<label for="first-name"><span>{{friend['email']}}</span></label>
							</td>
						</tr>
						<tr>
							<td>
								<h3 class="state-head">New Data</h3>
							</td>
							<td>
								<input type="text" name="first_name" id="first-name" class="form-update-input">
							</td>
							<td>
								<input type="text" name="last_name" id="last-name" class="form-update-input">
							</td>
							<td>
								<input type="text" name="email" id="email" class="form-update-input" >
							</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><input type="submit" class="submit home" value="Submit"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>
