@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nunito', sans-serif;
}

#container{
	margin: 0 auto;
	margin-top: 45px;
	padding: 15px;
	width: 80%;
}

a, a:visited{
	font-size: .5em;
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
}

#survey{
	border: 3px solid black;
	position: relative;
	padding: 25px;
	max-width: 100%;
}

.inputs{
	text-align: center;
	font-size: 16px;
	width: 35%;
	height: 3rem;
	border: 3px solid #000;
	padding: 10px 10px;
}

.inputs[name^='email']{
	font-size: .5em;
}

textarea.comments{
	padding: 10px 10px;
	border: 3px solid #000;
	height: 200px;
}

.route{
	margin-top: 7px;
	position: relative;
	padding: 5px;
	box-shadow: 5px 5px #000;
	right: 0;
	border: 3px solid #000;
	border-radius: 7px;
	font-size: 1.5rem;
	transition: box-shadow 200ms ease-in-out;
	text-decoration: none;
}

.route:hover{
	cursor: pointer;
	box-shadow: 2px 3px #777;
	text-decoration: underline;;
}

.route:active{
	box-shadow: 1px 1px #555
}

.route:visited{
	color: black;
}

#container > *{
	font-size: 2em;
}

h1{
	font-size: 1.5em;
}

a.route{
	margin-top: 10px;
}

.row{
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.col{
	display: flex;
	justify-content: space-around;
}

.error{
	padding: 10px 25px;
	background-color: #700;
	color: white;
	border: 4px solid black;
	border-radius: 7px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.close{
	align-self: flex-start;
	font-size: .2em;
}
.close:hover{
	cursor: pointer;
}
