<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>
	<body>
		<div id="container">
			<form id="survey" action="/results" method="post">
				<label>
					Your Name:
					<input type="text" name="full_name" placeholder="Enter Full Name">
				</label>
				<label>
					Dojo Location:
					<select id="locations" name="location"></select>
				</label>
				<label>
					Favorite Language:
					<select id="langs" name="language"></select>
				</label>
				<label>
					Comment:
					<textarea class="comments" name="comment" rows="8" cols="80"></textarea>
				</label>
				<button class="route" type="submit" name="">Submit</button>
			</form>
		</div>
	</body>
</html>
