<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit Products</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
	</head>
	<body>
		<div class="container">
			<h2>Edit Product {{product.id}}</h2>
			<form id="update-form" class="product-form" action="{% url 'products:update' id=product.id %}" method="post">{% csrf_token %}
				<label for="name">Name</label>
				<input type="text" name="name" id="name" class="input-field" placeholder="{{product.name}}">
				<label for="description">Description</label>
				<input type="text" name="description" id="description" class="input-field" placeholder="{{product.description}}">
				<label for="price">Price</label>
				<input type="text" name="price" id="price" class="input-field" placeholder="{{product.price}}">
			</form>
			<button class="submit" type="submit" form="update-form">Update</button>
			<div class="side-byside">
				<a href="{% url 'products:show' id=product.id %}" class="route">Back to Product</a>
				<a href="{% url 'products:index' %}" class="route">Go Back Home</a>
			</div>
		</div>
	</body>
</html>
