<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="cyan-text text-darken-3">The Wall</h1>
        <div class="session-section">
			{% if  'id' in session %}
			<span class="flow-text">Welcome {{session['first_name']}}</span>
			<a class="flow-text session-button" href="/reset">Logout</a>
			{% else %}
			<span class="flow-text">Welcome, feel free to, </span>
			<a class="flow-text session-button" href="#login-modal">Login</a>
			<span class="flow-text">Or!</span>
			<a class="flow-text session-button" href="#registration-modal">Register</a>
			{% endif %}
          <div class="modal" id="registration-modal">
            <div class="modal-content">
              <div class="row">
                <h4 class="cyan-text">Registration</h4>
                <form class="col s12" id="registration-form">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="first_name" type="text" name="first_name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" name="last_name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="register-password" type="password" name="password">
                      <label for="register-password">Password</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="confirmation" type="password" name="confirmation">
                      <label for="confirmation">Confirm Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="register-email" type="text" name="email">
                      <label for="register-email">Email</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn cyan" type="submit" form="registration-form" formaction="/register" formmethod="post">Register</button>
            </div>
          </div>
          <div class="modal" id="login-modal">
            <div class="modal-content">
              <div class="row">
                <h4 class="cyan-text">Login</h4>
                <form class="col s12" id="login-form">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="login-email" type="text" name="email">
                      <label for="login-email">Email</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="login-password" type="password" name="password">
                      <label for="login-password">Password</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn cyan" type="submit" form="login-form" formaction="/login" formmethod="post">Login</button>
            </div>
          </div>
        </div>
      </header>
      <main>
		  {% if not 'id' in session or not posts%}
		  <img src="{{url_for('static', filename='img/great-wall.jpg')}}" alt="The Greatwall" class="responsive-img ">
		  {% else %}
        <div class="" id="message-container">
          <h4 class="cyan-text">Post a Message</h4>
          <form class="col s12" id="message-form">
            <div class="row">
              <div class="input-field col s12">
                <textarea class="materialize-textarea" id="message-box" name="message" placeholder="Post a message to the wall for all to see!"></textarea>
                <label for="message-box">Message Box</label>
              </div>
            </div>
            <div class="row">
              <button class="right btn cyan" type="submit" formaction="/message" formmethod="post">Post a Message</button>
            </div>
          </form>
        </div>
		{% if posts %}
		{% for post in posts %}
        <div class="section message row">
			{% if  post['user_id'] == session['id']%}
			<h5 class="col s12 cyan-text message-head">{{post['first_name']}} {{post['last_name']}}  - {{post['created_at']}}</h5>
			{% else %}
			<h5 class="col s12 amber-text text-accent-4 message-head">{{post['first_name']}} {{post['last_name']}}  - {{post['created_at']}}</h5>
			{% endif %}
          <p class="col s12 post">{{post['message']}}</p>
          <div class="section col s11 offset-s1 comments">
            <div class="comment">
				{% if comments %}
				{% for comment in comments %}
				{% if comment['message_id'] == post['message_id'] %}
				{% if comment['user_id'] == session['id'] %}
				<h6 class="cyan-text comment-head">{{comment['first_name']}} {{comment['last_name']}} - {{comment['created_at']}}</h6>
				{% else %}
				<h6 class="amber-text text-accent-4 comment-head">{{comment['first_name']}} {{comment['last_name']}} - {{comment['created_at']}}</h6>
				{% endif %}
				<p>{{comment['comment']}}</p>
				{% endif %}
				{% endfor %}
				{% endif %}
            </div>
            <div id="comment-container">
              <h5 class="cyan-text">Post a Comment</h5>
              <form id="comment-form{{post['message_id']}}">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea class="materialize-textarea" id="comment-box" name="comment" placeholder="Post a comment for the user to see!"></textarea>
                    <label for="comment-box">Comment Box</label>
                  </div>
                </div>
                <div class="row">
                  <button class="btn cyan right" type="submit" form="comment-form{{post['message_id']}}" formaction="/message/{{post['message_id']}}" formmethod="post">Post a Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
		{% endfor %}
		<div class="divider"></div>
		{% endif %}
        {#
        <div class="section message row">
          <h5 class="cyan-text">User Name - Month Day Year</h5>
          <p class="post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="section comments col"></div>
        </div>#}
		{% endif %}
      </main>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>
  </body>
</html>
