<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>
	<body>
		<div id="container">
			{% if 'data' in session%}
			{%with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages%}
			<article class="error">
				<i class="fa fa-times close" aria-hidden="true"></i>
				{{message}}
			</article>
			{% endfor %}
			{% endif %}
			{% endwith %}
			<form id="survey" action="/process" method="post">
				<label class="row">
					First Name:
					<input class='inputs' type="text" name="first_name" placeholder="Enter First Name" value="{{session['fname']}}">
				</label>
				<label class="row">
					Last Name:
					<input class='inputs' type="text" name="last_name" placeholder="Enter Last Name" value="{{session['fname']}}">
				</label>
				<label class="row">
					Email:
					<input class="inputs" type="text" name="email" placeholder="Enter Email" value="{{session['email']}}">
				</label>
				<label class="row">
					Password:
					<input class="inputs" type="password" name="password" placeholder="Enter Password">
				</label>
				<label class="row">
					Confirm Password:
					<input class="inputs" type="password" name="confirm_password" placeholder="Confirm Password">
				</label>
				<button class="route" type="submit" name="">Submit</button>
			</form>
			{% else: %}
			<form id="survey" action="/process" method="post">
				<label class="row">
					First Name:
					<input class='inputs' type="text" name="first_name" placeholder="Enter First Name">
				</label>
				<label class="row">
					Last Name:
					<input class='inputs' type="text" name="last_name" placeholder="Enter Last Name">
				</label>
				<label class="row">
					Email:
					<input class="inputs" type="text" name="email" placeholder="Enter Email">
				</label>
				<label class="row">
					Password:
					<input class="inputs" type="password" name="password" placeholder="Enter Password">
				</label>
				<label class="row">
					Confirm Password:
					<input class="inputs" type="password" name="confirm_password" placeholder="Confirm Password">
				</label>
				<button class="route" type="submit" name="">Submit</button>
			</form>
			{% endif %}
		</div>
	</body>
</html>
