@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

html{
	font-size: 1rem;
}

#container{
	padding: 25px;
	margin: 0 auto;
	width: 70%;
	display: flex;
	align-items: center;
	flex-direction: column;

}

h3{
	margin-top: 20px;
}

label{
	font-size: 1.5rem;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

#playcount{
	display: none;
}

#formid{
	margin-top: 50px;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.red{
	background-color: #a00;
}

.green{
	background-color: green;
}

#curguess, .change{
	outline: none;
	position: relative;
	width: 200px;
	margin: 10px 0;
	padding: 5px 25px;
	box-shadow: 5px 5px #000;
	border: 3px solid #000;
	border-radius: 7px;
	font-size: 1.5rem;
	transition: box-shadow 200ms ease-in-out;
	text-decoration: none;
}

#curguess:hover, .change:hover{
	cursor: pointer;
	box-shadow: 2px 2px #777;
	text-decoration: underline;;
}

.change:active{
	box-shadow: 1px 1px #555
}

.change:visited{
	color: black;
}

#curguess:hover{
	cursor: text;
}


.alert{
	width: 200px;
	height: 200px;
	margin-top: 50px;
	border: 3px solid #000;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a.change{
	margin-top: 20px;
	background-color: lightgray;
	font-size: 1.4em;
	width: 60%;
}
