*{
	margin: 0;
	border: 0;
}

.container{
	margin: 0 auto;
	width: 70%;
	height: 100vh;
	padding: 30px 10px;
	text-align: center;
}

h5{
	text-align: center;
	padding: 5px 2px;
}

h1{
	text-align: center;
	display: inline-block;
	border: 2px solid #333;
	padding: 10px 10%;
}
