@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nunito', sans-serif;
}

html, body{
	font-size: 1rem;
	height: 100vh;
}

#container{
	padding: 25px;
	margin: 40% auto;
	width: 70%;
	display: flex;
	align-items: center;
	flex-direction: column;

}

#survey{
	position: relative;
	padding: 25px;
}

label{
	font-size: 1.5rem;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

input{
	display: none;
}

#formid{
	margin-top: 75px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.lightblue{
	color: lightblue;
}

.red{
	color: red;
}

.green{
	color: green;
}

.change{
	position: relative;
	width: 200px;
	padding: 5px 25px;
	box-shadow: 5px 5px #000;
	border: 3px solid #000;
	border-radius: 7px;
	font-size: 1.5rem;
	transition: box-shadow 200ms ease-in-out;
	text-decoration: none;
}

.change:hover{
	cursor: pointer;
	box-shadow: 5px 5px #777;
	text-decoration: underline;;
}

.change:active{
	box-shadow: 1px 1px #555
}

.change:visited{
	color: black;
}
